<div>
    <a class="btn btn-primary"
       th:href="@{/playlist/{idPlaylist}/musics/registerMusic(idPlaylist=${playlistID})}"
       th:hx-get="@{/playlist/{idPlaylist}/musics/registerMusic(idPlaylist=${playlistID})}"
       hx-target="#conteudo"
       hx-push-url="true">
        Nova música
    </a>
</div>

<hr/>

<div th:if="${music != null}">
    <h4>
        Músicas da playlist
    </h4>

    <div th:if="${mensagem != null}">
        <div class="alert alert-info" role="alert">
            <span th:text="${mensagem == null ? ' ' : mensagem}">
                mensagem
            </span>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Banda</th>
            <th>Nota</th>
            <th>Ação</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="musica : ${music}"
            th:id="${musica.id}">

            <td th:text="${musica.title}">
                titulo
            </td>

            <td th:text="${musica.band}">
                banda
            </td>

            <td th:text="${musica.score}">
                nota
            </td>

            <td>
                <a class="btn btn-sm btn-info"
                   th:href="@{/playlist/{idPlaylist}/musics/{musicId}/updateMusic(idPlaylist=${playlistID}, musicId=${musica.id})}"
                   th:hx-get="@{/playlist/{idPlaylist}/musics/{musicId}/updateMusic(idPlaylist=${playlistID}, musicId=${musica.id})}"
                   hx-target="#conteudo"
                   hx-push-url="true">
                    Editar
                </a>

                <a class="btn btn-sm btn-danger"
                   th:href="@{/playlist/{idPlaylist}/musics/{musicId}/remove(idPlaylist=${playlistID}, musicId=${musica.id})}"
                   th:hx-get="@{/playlist/{idPlaylist}/musics/{musicId}/remove(idPlaylist=${playlistID}, musicId=${musica.id})}"
                   hx-target="#conteudo">
                    Excluir
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(music)}">
    <div class="alert alert-info"
         role="alert">

        <span class="glyphicon glyphicon-exclamation-sign"></span>

        0 músicas cadastradas!

    </div>
</div>

<hr/>

<a class="btn btn-light"
   th:href="@{/playlists/list}"
   th:hx-get="@{/playlists/list}"
   hx-target="#conteudo"
   hx-push-url="true">
    Voltar
</a>

<hr/>