<div>
    <a class="btn btn-primary"
       th:href="@{/playlists/register}"
       th:hx-get="@{/playlists/register}"
       hx-target="#conteudo"
       hx-push-url="true">
        Nova playlist
    </a>
</div>

<hr/>

<div th:if="${playlists != null}">
    <h4>
        Playlists
    </h4>

    <div th:if="${mensagem != null}">
        <div class="alert alert-info" role="alert">
            <span th:text="${mensagem}">mensagem</span>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="playlist : ${playlists}">

            <td>
                <a th:text="${playlist.name}"
                   th:href="@{/playlist/{id}/musics/listMusic(id=${playlist.id})}"
                   th:hx-get="@{/playlist/{id}/musics/listMusic(id=${playlist.id})}"
                   hx-target="#conteudo"
                   hx-push-url="true">
                    nome
                </a>
            </td>

            <td th:text="${playlist.description}">
                descricao
            </td>

            <td>

                <a class="btn btn-sm btn-info"
                   th:href="@{/playlists/{id}/update(id=${playlist.id})}"
                   th:hx-get="@{/playlists/{id}/update(id=${playlist.id})}"
                   hx-target="#conteudo"
                   hx-push-url="true">
                    Editar
                </a>

                <a class="btn btn-sm btn-danger"
                   th:href="@{/playlists/{id}/delete(id=${playlist.id})}"
                   th:hx-get="@{/playlists/{id}/delete(id=${playlist.id})}"
                   hx-target="#conteudo">
                    Excluir
                </a>

            </td>

        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(playlists)}">

    <div class="alert alert-info"
         role="alert">

        <span class="glyphicon glyphicon-exclamation-sign"></span>

        0 playlists cadastradas!

    </div>

</div>

<hr/>